p { /* select all <p> */
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  /* to do on one line
  font: normal, 0.75em/1.5em, Georgia, "New Times Roman", serif; */
  color: rgba(99, 24,	131, 1);
}

.milk-text {
  font: bold, 2.6em, Georgia, cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}
